<div id='app-main' w-bind>
  <div class=(data.sidebarHidden ? 'return' : 'push-back')>
    <div class='header'>
      <app-header/>
    </div>
    <div class='main-content'>
      <app-manga-horizontal-slider id='latest-slider' title='Latest Manga' manga=data.latest/>
    </div>
  </div>
  <div class=(data.sidebarHidden ? 'no-overlay' : 'overlay') w-onClick='onFilterClick'>
  </div>
</div>
