<div id='sidebar-wrapper' class=(data.sidebarHidden ? "hidden" : "not-hidden") w-bind>
  <nav id='sidebar-header' class='navbar'>
    <div class="navbar-brand">Navbar</div>
  </nav>
  <div id='sidebar-content' >
  </div>
</div>
